{"openapi":"3.1.0","info":{"title":"FastAPI","version":"0.1.0"},"servers":[{"url":"https://red.litteraturbanken.se/api"}],"paths":{"/get_authors":{"get":{"summary":"Get Authors","description":"Get a list of all authors in the database.\n\n- **include**: Optional comma-separated list of fields to include\n- **exclude**: Optional comma-separated list of fields to exclude","operationId":"get_authors_get_authors_get","parameters":[{"name":"include","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Include"}},{"name":"exclude","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Exclude"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorList"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/get_popular_authors":{"get":{"summary":"Get Popular Authors","description":"Get a list of the 30 most popular authors based on popularity score.","operationId":"get_popular_authors_get_popular_authors_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorList"}}}}}}},"/search_document/{lbworkid}/{mediatype}/{search_string}/":{"get":{"summary":"Search In Document","description":"Search within a specific document.\n\n- **lbworkid**: The ID of the literary work\n- **mediatype**: Type of media (etext/faksimil)\n- **search_string**: Text to search for\n- **init_hits**: Number of initial hits to return (default: 49)\n- **word_form_only**: If True, only search for exact word forms\n- **include_modernized**: If True, include modernized text versions in search","operationId":"search_in_document_search_document__lbworkid___mediatype___search_string___get","parameters":[{"name":"lbworkid","in":"path","required":true,"schema":{"type":"string","title":"Lbworkid"}},{"name":"mediatype","in":"path","required":true,"schema":{"type":"string","title":"Mediatype"}},{"name":"search_string","in":"path","required":true,"schema":{"type":"string","title":"Search String"}},{"name":"init_hits","in":"query","required":false,"schema":{"type":"integer","default":49,"title":"Init Hits"}},{"name":"word_form_only","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Word Form Only"}},{"name":"include_modernized","in":"query","required":false,"schema":{"type":"boolean","default":true,"title":"Include Modernized"}},{"name":"include","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Include"}},{"name":"exclude","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Exclude"}},{"name":"prefix","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"default":false,"title":"Prefix"}},{"name":"suffix","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"default":false,"title":"Suffix"}}],"responses":{"200":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/page_search/{user_id}/{from_hit}/{to_hit}":{"get":{"summary":"Page Doc Search","operationId":"page_doc_search_page_search__user_id___from_hit___to_hit__get","parameters":[{"name":"user_id","in":"path","required":true,"schema":{"title":"User Id"}},{"name":"from_hit","in":"path","required":true,"schema":{"type":"integer","title":"From Hit"}},{"name":"to_hit","in":"path","required":true,"schema":{"type":"integer","title":"To Hit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/get_author/{author_id}":{"get":{"summary":"Get Author","description":"Get detailed information about a specific author.\n\n- **author_id**: The unique identifier for the author","operationId":"get_author_get_author__author_id__get","parameters":[{"name":"author_id","in":"path","required":true,"schema":{"type":"string","title":"Author Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Author"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/list_all/{doc_types}/{authors}":{"get":{"summary":"List All","operationId":"list_all_list_all__doc_types___authors__get","parameters":[{"name":"doc_types","in":"path","required":true,"schema":{"type":"string","title":"Doc Types"}},{"name":"authors","in":"path","required":true,"schema":{"type":"string","title":"Authors"}},{"name":"include","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Include"}},{"name":"exclude","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Exclude"}},{"name":"filter_string","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"default":"","title":"Filter String"}},{"name":"sort_field","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sort Field"}},{"name":"about_author","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"About Author"}},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":0,"title":"From"}},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":10,"title":"To"}},{"name":"show_all","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Show All"}},{"name":"author_aggregation","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Author Aggregation"}},{"name":"imported_aggregation","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Imported Aggregation"}},{"name":"suggest","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Suggest"}},{"name":"filter_and","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Filter And"}},{"name":"filter_or","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Filter Or"}},{"name":"partial_string","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Partial String"}},{"name":"pdfOnly","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Pdfonly"}},{"name":"author_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Author Type"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkList"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/list_all/{doc_types}":{"get":{"summary":"List All","operationId":"list_all_list_all__doc_types__get","parameters":[{"name":"doc_types","in":"path","required":true,"schema":{"type":"string","title":"Doc Types"}},{"name":"authors","in":"query","required":false,"schema":{"type":"string","default":"","title":"Authors"}},{"name":"include","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Include"}},{"name":"exclude","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Exclude"}},{"name":"filter_string","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"default":"","title":"Filter String"}},{"name":"sort_field","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sort Field"}},{"name":"about_author","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"About Author"}},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":0,"title":"From"}},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"default":10,"title":"To"}},{"name":"show_all","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Show All"}},{"name":"author_aggregation","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Author Aggregation"}},{"name":"imported_aggregation","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Imported Aggregation"}},{"name":"suggest","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Suggest"}},{"name":"filter_and","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Filter And"}},{"name":"filter_or","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Filter Or"}},{"name":"partial_string","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Partial String"}},{"name":"pdfOnly","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Pdfonly"}},{"name":"author_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Author Type"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkList"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/url_list/{sort}/{order}":{"get":{"summary":"Url List","operationId":"url_list_url_list__sort___order__get","parameters":[{"name":"sort","in":"path","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sort"}},{"name":"order","in":"path","required":true,"schema":{"type":"string","title":"Order"}},{"name":"epub","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Epub"}},{"name":"from","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"From"}},{"name":"to","in":"query","required":false,"schema":{"type":"integer","default":10000,"title":"To"}}],"responses":{"200":{"description":"Successful Response","content":{"text/html":{"schema":{"type":"string"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/url_list/{sort}":{"get":{"summary":"Url List","operationId":"url_list_url_list__sort__get","parameters":[{"name":"sort","in":"path","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sort"}},{"name":"order","in":"query","required":false,"schema":{"type":"string","default":"asc","title":"Order"}},{"name":"epub","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Epub"}},{"name":"from","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"From"}},{"name":"to","in":"query","required":false,"schema":{"type":"integer","default":10000,"title":"To"}}],"responses":{"200":{"description":"Successful Response","content":{"text/html":{"schema":{"type":"string"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/url_list":{"get":{"summary":"Url List","operationId":"url_list_url_list_get","parameters":[{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sort"}},{"name":"order","in":"query","required":false,"schema":{"type":"string","default":"asc","title":"Order"}},{"name":"epub","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Epub"}},{"name":"from","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"From"}},{"name":"to","in":"query","required":false,"schema":{"type":"integer","default":10000,"title":"To"}}],"responses":{"200":{"description":"Successful Response","content":{"text/html":{"schema":{"type":"string"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/author_list/{sort}/{order}":{"get":{"summary":"Author List","operationId":"author_list_author_list__sort___order__get","parameters":[{"name":"sort","in":"path","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sort"}},{"name":"order","in":"path","required":true,"schema":{"type":"string","title":"Order"}},{"name":"show_all","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Show All"}},{"name":"from","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"From"}},{"name":"to","in":"query","required":false,"schema":{"type":"integer","default":10000,"title":"To"}}],"responses":{"200":{"description":"Successful Response","content":{"text/html":{"schema":{"type":"string"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/author_list/{sort}":{"get":{"summary":"Author List","operationId":"author_list_author_list__sort__get","parameters":[{"name":"sort","in":"path","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sort"}},{"name":"order","in":"query","required":false,"schema":{"type":"string","default":"asc","title":"Order"}},{"name":"show_all","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Show All"}},{"name":"from","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"From"}},{"name":"to","in":"query","required":false,"schema":{"type":"integer","default":10000,"title":"To"}}],"responses":{"200":{"description":"Successful Response","content":{"text/html":{"schema":{"type":"string"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/author_list":{"get":{"summary":"Author List","operationId":"author_list_author_list_get","parameters":[{"name":"sort","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sort"}},{"name":"order","in":"query","required":false,"schema":{"type":"string","default":"asc","title":"Order"}},{"name":"show_all","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Show All"}},{"name":"from","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"From"}},{"name":"to","in":"query","required":false,"schema":{"type":"integer","default":10000,"title":"To"}}],"responses":{"200":{"description":"Successful Response","content":{"text/html":{"schema":{"type":"string"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/list_parts_in_others_works/{authorid}":{"get":{"summary":"List Parts In Others Works","description":"Find works that contain parts written by or about a specific author.\n\n- **authorid**: The author to search for\n- **show_all**: Include hidden works\n- **about_author**: Filter for works about the author","operationId":"list_parts_in_others_works_list_parts_in_others_works__authorid__get","parameters":[{"name":"authorid","in":"path","required":true,"schema":{"type":"string","title":"Authorid"}},{"name":"show_all","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Show All"}},{"name":"about_author","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"About Author"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/get_work_info":{"get":{"summary":"Get Work Info","operationId":"get_work_info_get_work_info_get","parameters":[{"name":"titlepath","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Titlepath"}},{"name":"lbworkid","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Lbworkid"}},{"name":"authorid","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorid"}},{"name":"mediatype","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Mediatype"}},{"name":"include","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Include"}},{"name":"exclude","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Exclude"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/deployment_info":{"get":{"summary":"Deployment Info","operationId":"deployment_info_deployment_info_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/search_count/{search_string}":{"get":{"summary":"Search Count","description":"Get count of search results without retrieving the actual documents.\n\n- **search_string**: Text to search for\n- **include**: Optional comma-separated list of fields to include\n- **exclude**: Optional comma-separated list of fields to exclude\n- **about_authors**: Filter for works about specific authors\n- **authors**: Filter for works by specific authors\n- **work_ids**: Filter for specific work IDs\n- **anonymous**: Include anonymous works\n- **modernized**: Filter for modernized texts\n- **proofread**: Filter for proofread texts\n- **prefix**: Add wildcard suffix to search terms\n- **suffix**: Add wildcard prefix to search terms\n- **word_form_only**: Search for exact word forms only\n- **include_modernized**: Include modernized versions in search\n- **sort_field**: Field to sort by (format: field|direction)\n- **text_filter**: Additional text filters as JSON","operationId":"search_count_search_count__search_string__get","parameters":[{"name":"search_string","in":"path","required":true,"schema":{"type":"string","title":"Search String"}},{"name":"include","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Include"}},{"name":"exclude","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Exclude"}},{"name":"about_authors","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"About Authors"}},{"name":"authors","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authors"}},{"name":"work_ids","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Work Ids"}},{"name":"anonymous","in":"query","required":false,"schema":{"type":"boolean","default":true,"title":"Anonymous"}},{"name":"modernized","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Modernized"}},{"name":"proofread","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Proofread"}},{"name":"prefix","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Prefix"}},{"name":"suffix","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Suffix"}},{"name":"word_form_only","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Word Form Only"}},{"name":"include_modernized","in":"query","required":false,"schema":{"type":"boolean","default":true,"title":"Include Modernized"}},{"name":"sort_field","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sort Field"}},{"name":"text_filter","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Text Filter"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResult"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/search/{search_string}":{"get":{"summary":"Search","description":"Full-text search across all works.\n\n- **search_string**: Text to search for\n- **include**: Optional comma-separated list of fields to include\n- **exclude**: Optional comma-separated list of fields to exclude\n- **about_authors**: Filter for works about specific authors\n- **authors**: Filter for works by specific authors\n- **work_ids**: Filter for specific work IDs\n- **anonymous**: Include anonymous works\n- **modernized**: Filter for modernized texts\n- **proofread**: Filter for proofread texts\n- **from_**: Starting index for pagination\n- **to**: Ending index for pagination\n- **prefix**: Add wildcard suffix to search terms\n- **suffix**: Add wildcard prefix to search terms\n- **word_form_only**: Search for exact word forms only\n- **include_modernized**: Include modernized versions in search\n- **sort_field**: Field to sort by (format: field|direction)\n- **text_filter**: Additional text filters as JSON\n- **number_of_fragments**: Number of context fragments to return","operationId":"search_search__search_string__get","parameters":[{"name":"search_string","in":"path","required":true,"schema":{"type":"string","title":"Search String"}},{"name":"include","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Include"}},{"name":"exclude","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Exclude"}},{"name":"about_authors","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"About Authors"}},{"name":"authors","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authors"}},{"name":"work_ids","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Work Ids"}},{"name":"anonymous","in":"query","required":false,"schema":{"type":"boolean","default":true,"title":"Anonymous"}},{"name":"modernized","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Modernized"}},{"name":"proofread","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Proofread"}},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"From"}},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"To"}},{"name":"prefix","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Prefix"}},{"name":"suffix","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Suffix"}},{"name":"word_form_only","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Word Form Only"}},{"name":"include_modernized","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"default":true,"title":"Include Modernized"}},{"name":"sort_field","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sort Field"}},{"name":"text_filter","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Text Filter"}},{"name":"number_of_fragments","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Number Of Fragments"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResult"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/autocomplete/{search_string}":{"get":{"summary":"Autocomplete","description":"Get autocomplete suggestions for search queries.\n\n- **search_string**: Partial text to get suggestions for","operationId":"autocomplete_autocomplete__search_string__get","parameters":[{"name":"search_string","in":"path","required":true,"schema":{"type":"string","title":"Search String"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/get_authorkeywords":{"get":{"summary":"Get Authorkeywords","operationId":"get_authorkeywords_get_authorkeywords_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/get_work_prop_authors":{"get":{"summary":"Get Work Prop Authors","operationId":"get_work_prop_authors_get_work_prop_authors_get","parameters":[{"name":"key","in":"query","required":true,"schema":{"type":"string","title":"Key"}},{"name":"val","in":"query","required":true,"schema":{"type":"string","title":"Val"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/epub/{filename}":{"get":{"summary":"Epub","operationId":"epub_epub__filename__get","parameters":[{"name":"filename","in":"path","required":true,"schema":{"type":"string","title":"Filename"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/epub_health":{"get":{"summary":"Epub Health","description":"Test 5 random epub links to make sure they return 2xx.","operationId":"epub_health_epub_health_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/download":{"get":{"summary":"Download","description":"Download one or more documents in various formats.\n\nAccepts either form data or JSON with:\n- **files**: List of file specifications (lbworkid-mediatype-format)\n- **filename**: Optional filename pattern template\n\nSupports formats: xml, txt, workdb, pdf\nReturns either a single file or zip archive of multiple files.","operationId":"download_download_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}},"post":{"summary":"Download","description":"Download one or more documents in various formats.\n\nAccepts either form data or JSON with:\n- **files**: List of file specifications (lbworkid-mediatype-format)\n- **filename**: Optional filename pattern template\n\nSupports formats: xml, txt, workdb, pdf\nReturns either a single file or zip archive of multiple files.","operationId":"download_download_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/query/{doc_types}":{"get":{"summary":"Query","description":"Execute a raw Elasticsearch query against specified document types.\n\n- **doc_types**: Comma-separated list of document types to search\n- **search**: JSON-formatted Elasticsearch query\n- **from_**: Starting index for pagination\n- **to**: Ending index for pagination\n- **include**: Fields to include in response\n- **exclude**: Fields to exclude from response\n- **sort_field**: Field to sort by\n- **show_all**: Include hidden documents","operationId":"query_query__doc_types__get","parameters":[{"name":"doc_types","in":"path","required":true,"schema":{"type":"string","title":"Doc Types"}},{"name":"search","in":"query","required":true,"schema":{"type":"string","title":"Search"}},{"name":"from","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"From"}},{"name":"to","in":"query","required":false,"schema":{"type":"integer","default":10,"title":"To"}},{"name":"include","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Include"}},{"name":"exclude","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Exclude"}},{"name":"sort_field","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sort Field"}},{"name":"show_all","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Show All"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/query_string/{doc_types}":{"get":{"summary":"Query String","description":"Forwards the query to an elasticsearch query_string query.\n- **doc_types**: Comma-separated list of document types to search. Values are one of (etext, faksimil, author)","operationId":"query_string_query_string__doc_types__get","parameters":[{"name":"doc_types","in":"path","required":true,"schema":{"type":"string","title":"Doc Types"}},{"name":"q","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Q"}},{"name":"from","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"From"}},{"name":"to","in":"query","required":false,"schema":{"type":"integer","default":10,"title":"To"}},{"name":"include","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Include"}},{"name":"exclude","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Exclude"}},{"name":"sort_field","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sort Field"}},{"name":"show_all","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Show All"}},{"name":"author_aggregation","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Author Aggregation"}},{"name":"imported_aggregation","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Imported Aggregation"}}],"requestBody":{"content":{"application/json":{"schema":{"anyOf":[{"type":"object","additionalProperties":true},{"type":"null"}],"title":"Parsed Query"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/relevance/{doc_types}":{"get":{"summary":"Relevance","operationId":"relevance_relevance__doc_types__get","parameters":[{"name":"doc_types","in":"path","required":true,"schema":{"type":"string","title":"Doc Types"}},{"name":"from","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"From"}},{"name":"to","in":"query","required":false,"schema":{"type":"integer","default":10,"title":"To"}},{"name":"include","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Include"}},{"name":"exclude","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Exclude"}},{"name":"sort_field","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sort Field"}},{"name":"show_all","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Show All"}},{"name":"q","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Q"}}],"requestBody":{"content":{"application/json":{"schema":{"anyOf":[{"type":"object","additionalProperties":true},{"type":"null"}],"title":"Parsed Query"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"Author":{"properties":{"authorid":{"type":"string","title":"Authorid"},"authorid_norm":{"type":"string","title":"Authorid Norm"},"autocomplete":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Autocomplete"},"bibliography":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Bibliography"},"birth":{"anyOf":[{"$ref":"#/components/schemas/DateInfo"},{"type":"null"}]},"death":{"anyOf":[{"$ref":"#/components/schemas/DateInfo"},{"type":"null"}]},"changes":{"anyOf":[{"items":{"$ref":"#/components/schemas/Change"},"type":"array"},{"type":"null"}],"title":"Changes"},"db_checksum":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Db Checksum"},"db_timestamp":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Db Timestamp"},"db_timestamp_updated":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Db Timestamp Updated"},"doc_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Doc Type"},"dramawebben":{"anyOf":[{"$ref":"#/components/schemas/DramawebbenInfo"},{"type":"null"}]},"external_ref":{"anyOf":[{"items":{"$ref":"#/components/schemas/ExternalRef"},"type":"array"},{"type":"null"}],"title":"External Ref"},"full_name":{"type":"string","title":"Full Name"},"gender":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Gender"},"imported":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Imported"},"intro":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Intro"},"intro_author":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Intro Author"},"intro_author_norm":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Intro Author Norm"},"intro_text":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Intro Text"},"librisid":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Librisid"},"name_for_index":{"type":"string","title":"Name For Index"},"other_name":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Other Name"},"picture":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Picture"},"pictureinfo":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Pictureinfo"},"popularity":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Popularity"},"presentation":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Presentation"},"pseudonym":{"anyOf":[{"items":{"$ref":"#/components/schemas/Pseudonym"},"type":"array"},{"type":"null"}],"title":"Pseudonym"},"searchable":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Searchable"},"seemore":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Seemore"},"show":{"type":"boolean","title":"Show","default":true},"sources":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Sources"},"surname":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Surname"},"updated":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Updated"},"wikidata":{"anyOf":[{"$ref":"#/components/schemas/WikidataInfo"},{"type":"null"}]}},"type":"object","required":["authorid","authorid_norm","full_name","name_for_index"],"title":"Author"},"AuthorList":{"properties":{"data":{"items":{"$ref":"#/components/schemas/Author"},"type":"array","title":"Data"}},"type":"object","required":["data"],"title":"AuthorList"},"Change":{"properties":{"field":{"type":"string","title":"Field"},"from":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"From"},"to":{"type":"string","title":"To"}},"type":"object","required":["field","to"],"title":"Change"},"DateInfo":{"properties":{"date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Date"},"plain":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Plain"}},"type":"object","title":"DateInfo"},"DramawebbenInfo":{"properties":{"intro":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Intro"},"intro_author":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Intro Author"},"intro_author_norm":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Intro Author Norm"},"legacy_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Legacy Url"},"picture":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Picture"},"picture_info":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Picture Info"},"sources":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Sources"}},"type":"object","title":"DramawebbenInfo"},"ExternalRef":{"properties":{"label":{"type":"string","title":"Label"},"url":{"type":"string","title":"Url"}},"type":"object","required":["label","url"],"title":"ExternalRef"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"Pseudonym":{"properties":{"authorid":{"type":"string","title":"Authorid"},"authorid_norm":{"type":"string","title":"Authorid Norm"},"full_name":{"type":"string","title":"Full Name"},"gender":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Gender"},"name_for_index":{"type":"string","title":"Name For Index"},"surname":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Surname"},"type":{"type":"string","title":"Type"}},"type":"object","required":["authorid","authorid_norm","full_name","name_for_index","type"],"title":"Pseudonym"},"SearchResult":{"properties":{"hits":{"type":"integer","title":"Hits"},"data":{"items":{"additionalProperties":true,"type":"object"},"type":"array","title":"Data"},"suggest":{"anyOf":[{"items":{"additionalProperties":true,"type":"object"},"type":"array"},{"type":"null"}],"title":"Suggest"},"distinct_hits":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Distinct Hits"},"author_aggregation":{"anyOf":[{"items":{"additionalProperties":true,"type":"object"},"type":"array"},{"type":"null"}],"title":"Author Aggregation"},"time":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Time"}},"type":"object","required":["hits","data"],"title":"SearchResult"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"},"WikidataInfo":{"properties":{"birthplace":{"anyOf":[{"prefixItems":[{"type":"number"},{"type":"number"}],"type":"array","maxItems":2,"minItems":2},{"type":"null"}],"title":"Birthplace"},"birthplace_label":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Birthplace Label"},"deathplace":{"anyOf":[{"prefixItems":[{"type":"number"},{"type":"number"}],"type":"array","maxItems":2,"minItems":2},{"type":"null"}],"title":"Deathplace"},"deathplace_label":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Deathplace Label"},"image":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Image"},"librisid":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Librisid"},"blf_link":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Blf Link"},"sbl_link":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sbl Link"},"skbl_link":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Skbl Link"},"sol_link":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sol Link"},"wikidata_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Wikidata Id"},"wikipedia":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Wikipedia"},"wikipedia_text":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Wikipedia Text"},"wikipedia_title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Wikipedia Title"}},"type":"object","title":"WikidataInfo"},"WorkInfo-Input":{"properties":{"lbworkid":{"type":"string","title":"Lbworkid"},"titlepath":{"type":"string","title":"Titlepath"},"mediatype":{"type":"string","title":"Mediatype"},"title":{"type":"string","title":"Title"},"shorttitle":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Shorttitle"},"main_author":{"$ref":"#/components/schemas/Author"},"has_epub":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Has Epub","default":false},"imported":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Imported"},"show":{"type":"boolean","title":"Show","default":true}},"type":"object","required":["lbworkid","titlepath","mediatype","title","shorttitle","main_author","imported"],"title":"WorkInfo"},"WorkInfo-Output":{"properties":{"lbworkid":{"type":"string","title":"Lbworkid"},"titlepath":{"type":"string","title":"Titlepath"},"mediatype":{"type":"string","title":"Mediatype"},"title":{"type":"string","title":"Title"},"shorttitle":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Shorttitle"},"main_author":{"$ref":"#/components/schemas/Author"},"has_epub":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Has Epub","default":false},"imported":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Imported"},"show":{"type":"boolean","title":"Show","default":true}},"type":"object","required":["lbworkid","titlepath","mediatype","title","shorttitle","main_author","imported"],"title":"WorkInfo"},"WorkList":{"properties":{"data":{"items":{"$ref":"#/components/schemas/WorkInfo-Output"},"type":"array","title":"Data"},"distinct_hits":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Distinct Hits"},"aggregations":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Aggregations"},"author_aggregation":{"anyOf":[{"items":{"additionalProperties":true,"type":"object"},"type":"array"},{"type":"null"}],"title":"Author Aggregation"},"suggest":{"anyOf":[{"items":{"additionalProperties":true,"type":"object"},"type":"array"},{"type":"null"}],"title":"Suggest"}},"type":"object","required":["data"],"title":"WorkList"}}}}